:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
    --text-color: rgba(231, 227, 252, .87);  // Добавьте эту строку
    --text-color-secondary: rgba(231, 227, 252, .68);  // Опционально для вторичного текста
}

.app-dark .p-datatable-thead > tr > th {
    background-color: var(--surface-ground) !important;
}
