:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
    --text-color: rgba(231, 227, 252, .87);
    --text-color-secondary: rgba(231, 227, 252, .68);
    --primary-color-text: rgba(99, 102, 241, 0.15);
}

.app-dark .p-datatable-thead > tr > th {
    background-color: var(--surface-ground) !important;
}
