:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --text-color: #3a3358;
    --text-color-secondary: #6b6680;
    --primary-color-text: rgba(99, 102, 241, 0.08);
}
