:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --text-color: #3a3358;  // Добавьте эту строку
    --text-color-secondary: #6b6680;  // Опционально для вторичного текста
}
