::ng-deep {
    .p-datatable-thead > tr > th {
        background: var(--p-surface-100) !important;
    }
    .app-dark .p-datatable-thead > tr > th {
        background: var(--p-surface-800) !important;
    }
}
