//::ng-deep {
//  .p-datatable {
//    .p-datatable-thead > tr > th {
//      background-color: #F9FAFC !important;
//      color: rgba(58, 53, 65, 0.45) !important;
//      font-size: 0.75rem !important;
//      text-transform: uppercase;
//      letter-spacing: 1px;
//      font-weight: 600 !important;
//      border: none !important;
//      border-bottom: 1px solid rgba(58, 53, 65, 0.12) !important;
//      padding: 1rem 1.5rem !important;
//    }
//
//    .p-datatable-tbody > tr > td {
//      padding: 1rem 1.5rem;
//    }
//  }
//}
