::ng-deep {
    .p-datatable-thead > tr > th {
        background: var(--p-surface-50) !important;
    }
    .app-dark .p-datatable-thead > tr > th {
        background: var(--p-surface-700) !important;
    }
}
